In [1]:
import pandas as pd
df = pd.read_csv("all-states-history.csv")

In [2]:
data = df[["death","positive",'recovered','state','date']]

In [3]:
data

        death  positive  recovered state        date
0       100.0   24419.0     7165.0    AK  2020-11-18
1      3347.0  223486.0    88038.0    AL  2020-11-18
2      2275.0  137617.0   118751.0    AR  2020-11-18
3         0.0       0.0        NaN    AS  2020-11-18
4      6365.0  283102.0    46521.0    AZ  2020-11-18
...       ...       ...        ...   ...         ...
14612     NaN       0.0        NaN    WA  2020-01-24
14613     NaN       NaN        NaN    MA  2020-01-23
14614     NaN       0.0        NaN    WA  2020-01-23
14615     NaN       NaN        NaN    MA  2020-01-22
14616     NaN       0.0        NaN    WA  2020-01-22

[14617 rows x 5 columns]

In [4]:
import datetime
data['month'] = pd.DatetimeIndex(data['date']).month

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
test = data.groupby(['state','month']).mean()

In [6]:
test.to_csv("state_grouped.csv")

In [6]:
df = pd.read_csv("COVID_Cases.csv")

In [7]:
import numpy as np
df = np.round(df, decimals=2)

In [ ]:
test.to_csv("COVID_Cases.csv")